@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 20px;
  }
  
  *::selection {
    color: white;
    background-color: green;
  }
  
  
  body {
    top: 0 !important;
    
  }
  
  .google-translate-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10000;
  }
  
  .goog-logo-link,
  .goog-te-banner-frame,
  .VIpgJd-ZVi9od-l4eHX-hSRGPd,
  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }
  
  .goog-te-gadget {
    color: transparent !important;
  }
  
  .goog-te-gadget .goog-te-combo {
    background-color: green !important;
    color: white !important;
    font-size: 15px;
    border: 2px dotted #ffffff;
    border-radius: 5px;
    padding: 4px;
  }
  
  .goog-te-gadget .goog-te-combo option {
    color: white;
  }
  
  #goog-gt-tt,
  .goog-te-balloon-frame {
    display: none !important;
  }
  
  .goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
  }
  
  .google-translate-container.hidden {
    display: none !important;
  }